
@model Chinmaya.Registration.Models.MyAccountModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "MyAccount";
}

@*<h2>MyAccount</h2>*@
<html>
<head>
	<style>
		.requiredA:after {
			content: " *";
			font-weight: bold;
			color: red;
		}
		.field-validation-error {
			color: red;
		}
	</style>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Welcome to Chinmaya Mission</title>
	<!-- Latest compiled and minified CSS -->
	<link href="~/Content/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link href="~/Content/custom-styles.css" rel="stylesheet" type="text/css">
	<!-- Jquery -->
	<script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
	<script src="~/Scripts/popper.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="~/Scripts/bootstrap.min.js"></script>
</head>
@*<body class="theme_bg">*@
<body>

	<button class="navbar-toggler aside-toggle" aria-expanded="false" aria-controls="menu-content" aria-label="Toggle navigation" type="button" data-target="#menu-content" data-toggle="collapse"> <span class="navbar-toggler-icon"></span> </button>
	<div class="nav-side-menu">

		<div class="menu-list">

			<ul class="menu-content collapse out" id="menu-content">
				<li class="collapsed" aria-expanded="false" data-target="#account" data-toggle="collapse">
					<a href="#"> Account Settings <span class="arrow"></span></a>
				</li>

				<ul class="sub-menu collapse" id="account">
					<li><a href="#"><img alt="" src="~/Content/img/change-password.png"> Change Password</a></li>
					<li class="active"><a href="#"><img alt="" src="~/Content/img/update-family-info-active.png"> Update Family Info</a></li>
				</ul>

				<li class="collapsed" aria-expanded="false" data-target="#contact" data-toggle="collapse">
					<a href="#"> Update Contact Info <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="contact">
					<li><a href="#"><img alt="" src="~/Content/img/phone.png"> Phone</a></li>
					<li><a href="#"><img alt="" src="~/Content/img/email.png"> Email</a></li>
					<li><a href="#"><img alt="" src="~/Content/img/address.png"> Address</a></li>
				</ul>

				<li class="collapsed" aria-expanded="false" data-target="#payment" data-toggle="collapse">
					<a href="#"> Payment Details <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="payment">
					<li><a href="#"><img alt="" src="~/Content/img/past-transations.png"> Past Transactions</a></li>
					<li><a href="#"><img alt="" src="~/Content/img/print-tax.png"> Print Tax Receipts</a></li>
				</ul>

				<li>
					<a href="#">
						Badri Directory
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="bd-content">
		<h3 class="bd-title">My Account</h3>
		<div class="inner-box">
			<div class="row mb-3">
				<div class="col-md-6 table-title">Family Information</div>
				@if (!Model.IsIndividual)
				{
			<div class="col-md-6 text-right">
				@*@Html.ActionLink("Add Family Member ", "AddFamilyMemberPartial", "Account", null, new { @class = "orange-links" })*@

				<a class="orange-links" id="#AddFamilyMember" href="#" data-target="#exampleModalCenter" data-toggle="modal"><i class="material-icons">add_circle_outline</i> Add Family Member</a>
			</div>
				}
			<div class="modal fade" id="FamilyMemberPartial" role="dialog"></div>
			</div>
			<div class="row">
				<div class="col-md-12 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Date of Birth</th>
								<th scope="col">Relationship</th>
								<th scope="col">
									Grade
									@*<span data-toggle="tooltip" title="Grade in school (fall of current year)", data-placement="right"><img rel="tooltip" title="" alt="" src="~/Content/img/info-icon.png" /></span>*@
									<img src="~/Content/img/info-icon.png" alt="" title="Grade in school (fall of current year)" />

									@*<img title="" alt="" src="~/Content/img/info-icon.png" data-original-title="Grade in school (fall of current year)" data-toggle="tooltip" data-placement="right" />*@
								</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>

							@foreach (var m in Model.userFamilyMember)
							{
								<tr>
									<td>@(m.FirstName + " " + m.LastName)</td>
									<td>@(m.DOB.ToString("MMM dd, yyyy"))</td>
									<td>@m.Relationship</td>
									<td>@m.Grade</td>
									@*<td>@Html.ActionLink("Edit", "Edit", new { @class = "label label-orange", id = familyMember.Id })</td>*@
									<td><a href="@Url.Action("Edit","Account", new { id = m.Id })"><span class="label label-orange">Edit</span></a></td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Content starts -->
	<div tabindex="-1" class="modal fade bd-example-modal-lg" id="exampleModalCenter" role="dialog" aria-hidden="true" aria-labelledby="exampleModalCenterTitle" style="display: none;">
        @Html.Partial("_AddFamilyMember", Model.familyMemberModel)
	</div>
    <!-- Modal Content Ends -->


	<script>

		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip({ position: 'right' });
		});

		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
			$("form")[0].reset();
			$('#exampleModalCenter').find('input:text, input:password, select, textarea').val('');
			$('#exampleModalCenter').find('input:radio, input:checkbox').prop('checked', false);
			$('#exampleModalCenter').find('input#DOB').val("");
			$(this).removeData('bs.modal');
		})

		$("#exampleModalCenter").on("hidden.bs.modal", function () {
			$('[data-toggle="tooltip"]').tooltip();
			$('#exampleModalCenter').find('input:text, input:password, select, textarea').val('');
			$('#exampleModalCenter').find('input:radio, input:checkbox').prop('checked', false);
			$('#exampleModalCenter').find('input#DOB').val("");
			$(this).removeData('bs.modal');
		});
	</script>
</body>
</html>

