
@model Chinmaya.Registration.Models.MyAccountModel
@using Chinmaya.Models
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "MyAccount";
}

<html>
<head>

	<link href="~/Content/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
	<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
	<style>
		.requiredA:after {
			content: " *";
			font-weight: bold;
			color: red;
		}

		.field-validation-error {
			color: red;
		}
	</style>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Welcome to Chinmaya Mission</title>
</head>
@*<body class="theme_bg">*@
<body>

	<button class="navbar-toggler aside-toggle" aria-expanded="false" aria-controls="menu-content" aria-label="Toggle navigation" type="button" data-target="#menu-content" data-toggle="collapse"> <span class="navbar-toggler-icon"></span> </button>
	<div class="nav-side-menu">

		<div class="menu-list">

			<ul class="menu-content collapse out" id="menu-content">
				<li class="collapsed" aria-expanded="false" data-target="#account" data-toggle="collapse">
					<a href="#"> Account Settings <span class="arrow"></span></a>
				</li>

				<ul class="sub-menu collapse" id="account">
					<li><a href="#"><img alt="" src="~/Content/img/change-password.png"> Change Password</a></li>
					<li class="active"><a href="#"><img alt="" src="~/Content/img/update-family-info-active.png"> Update Family Info</a></li>
				</ul>

				<li class="collapsed" aria-expanded="false" data-target="#contact" data-toggle="collapse">
					<a href="#"> Update Contact Info <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="contact">
					<li><a href="#"><img alt="" src="~/Content/img/phone.png"> Phone</a></li>
					<li><a href="#"><img alt="" src="~/Content/img/email.png"> Email</a></li>
					<li><a href="#"><img alt="" src="~/Content/img/address.png"> Address</a></li>
				</ul>

				<li class="collapsed" aria-expanded="false" data-target="#payment" data-toggle="collapse">
					<a href="#"> Payment Details <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="payment">
					<li><a href="#"><img alt="" src="~/Content/img/past-transations.png"> Past Transactions</a></li>
					<li><a href="#"><img alt="" src="~/Content/img/print-tax.png"> Print Tax Receipts</a></li>
				</ul>

				<li>
					<a href="#">
						Badri Directory
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="bd-content">
		<h3 class="bd-title">My Account</h3>
		<div class="inner-box">
			<div class="row mb-3">
				<div class="col-md-6 table-title">Family Information</div>
				@if (!Model.IsIndividual)
				{
					<div class="col-md-6 text-right">
						<a class="orange-links" id="#AddFamilyMember" href="#" data-target="#exampleModalCenter" data-toggle="modal"><i class="material-icons">add_circle_outline</i> Add Family Member</a>
					</div>
				}
				<div class="modal fade" id="FamilyMemberPartial" role="dialog"></div>
			</div>
			<div class="row">
				<div class="col-md-12 table-responsive">

					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Date of Birth</th>
								<th scope="col">Relationship</th>
								<th scope="col">
									Grade
									<img id="GradeTooltip" src="~/Content/img/info-icon.png" alt="" title="Grade in school (@Model.familyMemberModel.Year)" />
								</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>

							@foreach (var m in Model.userFamilyMember)
							{
								<tr>
									<td>@(m.FirstName + " " + m.LastName)</td>
									<td>@(m.DOB.ToString("MMM dd, yyyy"))</td>
									<td>@m.Relationship</td>
									<td>@m.Grade</td>
									@*<td>@Html.ActionLink("Edit", "EditFamilyMember", new { id = m.Id }, new { @class = "label label-orange" })</td>*@
									<td id="@m.Id" class="editFamilyMember"><a href="#" data-toggle="modal" data-target="#EditModal" class="Edit"><span class="label label-orange">Edit</span></a></td>
								</tr>
								@*href="@Url.Action("EditFamilyMemberDetails","Account", new { id = m.Id })"*@
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="dialog-edit" style="display: none">
	</div>

	<!-- Modal Content starts -->
	<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

		@Html.Partial("_AddFamilyMember", Model.familyMemberModel)

	</div>
	<!-- Modal Content Ends -->
	<script>

		$(document).ready(function () {
			$("#current-Events").hide();
			$("#userList").hide();
			$('[data-toggle="tooltip"]').tooltip({ position: 'right' });

		});

		$(".editFamilyMember").click(function () {
			var id = $(this).attr("id");
			$.ajax({
				"url": "../Account/EditFamilyMember/" + id,
				"type": "GET",
				success: function (data) {

					$("#exampleModalCenter").html(data);
					$("#exampleModalCenter").modal();

				},

			});

		});

		$(function () {

			$('.modal').on('hidden.bs.modal', function (e) {
				$(this)
					.find("input:text, input:password, select, textarea")
					.val('');
				$("input[type=date]").val("");

				$(this)
					.find(".field-validation-error")
					.html('');
				
				document.getElementById("EmailAddress").className = "col-md-6 d-lg-none"
				document.getElementById("GradeSelectBox").className = "col-md-6 d-lg-none"
			});
		});


					//$(".label label-orange").live("click", function (e) {
					//	var url = $(this).attr('href');
					//	$("#dialog-edit").dialog({
					//		title: 'Edit Family Member Detail',
					//		autoOpen: false,
					//		resizable: false,
					//		height: 455,
					//		width: 550,
					//		show: { effect: 'drop', direction: "up" },
					//		modal: true,
					//		draggable: true,
					//		open: function (event, ui) {
					//			$(this).load(url);

					//		},
					//		close: function (event, ui) {
					//			$(this).dialog('close');
					//		}
					//	});

					//	$("#dialog-edit").dialog('open');
					//	return false;
					//});

	</script>
</body>
</html>

