@model Chinmaya.Registration.Models.MyAccountModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "MyAccount";
}

<style>
	.requiredA:after {
		content: " *";
		font-weight: bold;
		color: red;
	}

	.field-validation-error {
		color: red;
	}
</style>

<button class="navbar-toggler aside-toggle" aria-expanded="false" aria-controls="menu-content" aria-label="Toggle navigation" type="button" data-target="#menu-content" data-toggle="collapse"> <span class="navbar-toggler-icon"></span> </button>

<div class="bd-content">
	<h3 class="bd-title">My Account</h3>
	<div class="inner-box">
		<div class="row mb-3">
			<div class="col-md-6 table-title">Family Information</div>
			@if (!Model.IsIndividual)
			{
				<div class="col-md-6 text-right">
					<a class="orange-links" id="AddFamilyMember" href="javascript: void(0);"><i class="material-icons">add_circle_outline</i> Add Family Member</a>
				</div>
			}
			<div class="modal fade" id="FamilyMemberPartial" role="dialog"></div>
		</div>
		<div class="row">
			<div class="col-md-12 table-responsive">

				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Date of Birth</th>
							<th scope="col">Relationship</th>
							<th scope="col">
								Grade
								<img id="GradeTooltip" src="~/Content/img/info-icon.png" alt="" title="Grade in school (@Model.familyMemberModel.Year)" />
							</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>

						@foreach (var m in Model.userFamilyMember)
						{
							<tr>
								<td>@(m.FirstName + " " + m.LastName)</td>
								<td>@(m.DOB.ToString("MMM dd, yyyy"))</td>
								<td>@m.Relationship</td>
								@if (@m.Grade != null)
								{
									<td>@m.Grade</td>
								}
								else
								{
									<td>-</td>
								}
								@if (@m.Relationship != "Self")
								{
									<td id="@m.Id" class="editFamilyMember"><a href="javascript: void(0);" data-toggle="modal" data-target="#EditModal" class="Edit"><span class="label label-orange">Edit</span></a></td>
								}
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
@Html.Partial("../FamilyMember/_AddFamilyMember", Model.familyMemberModel)
</div>

<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
		$("#AddFamilyMember").on("click", function () {
			$("#exampleModalCenter").load("/FamilyMember/RefreshFamilyMemberPartialView");
			$("#exampleModalCenter").modal();
		});

		$('[data-toggle="tooltip"]').tooltip({ position: 'right' });
		
		$(".editFamilyMember").click(function () {
			var id = $(this).attr("id");
			$.ajax({
				"url": "../FamilyMember/EditFamilyMember/" + id,
				"type": "GET",
				success: function (data) {
					$("#exampleModalCenter").html(data);
					$("#exampleModalCenter").modal();
					DoTheCalculations();
				},
			});
		});
	});

	$(function () {
		$('.modal').on('hidden.bs.modal', function (e) {
			$(this)
				.find("input:text, input:password, input:hidden, select, textarea")
				.val('');
			$("input[type=date]").val("");

			$(this)
				.find(".field-validation-error")
				.html('');
			$("div#GradeSelectBox").show();
			$("div#EmailAddress").show();
		});
	});

	function DoTheCalculations() {
		var date = new Date($("#DateValue").val());

		if ($("#DateValue").val() != null && $("#DateValue").val() != "") {
			calculateDate(date);
		}
	}

	function toggleGradeEmail(state) {
		$("div#GradeSelectBox").toggle(state);
		$("div#EmailAddress").toggle(!state);
	}

	function calculateDate(date) {
		var today = new Date();
		var age = Math.floor((today - date) / (365.25 * 24 * 60 * 60 * 1000));
		if (age >= 18) {
			toggleGradeEmail(false);
		}
		else {
			toggleGradeEmail(true);
		}
	}
</script>

