@model Chinmaya.Registration.Models.ResetForgotPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Chinmaya Mission</title>
    @Styles.Render("~/Content/css")
</head>
<body class="theme_bg">
    <div class="login-logo">
        <img src="~/Content/img/login-logo.png" alt="logo" class="center-block" />
    </div>
    <div class="login-box">
        <div id="login">
            <div class="login_heading">Forgot Password</div>
                <h5>Reset Your Password</h5>
                <hr />
        @using (Html.BeginForm("ResetForgotPassword", "Account", FormMethod.Post)) {
            @Html.HiddenFor(m => m.Email)
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DisplayFor(m => m.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.SecurityQuestionsModel, new { @class = "requiredA" })
                    @for (var i = 0; i < Model.SecurityQuestionsModel.Count(); i++)
                    {
                        <div class="row">
                            <div id="dataListItem" class="col-md-8">
                                <span>@(i+1)</span>&nbsp;
                                @Model.SecurityQuestionsModel[i].Name
                            </div>
                            <div id="dataTextBox" class="col-md-4">
                                <input type='text' class="form-control" name="AnswerTextbox_@(i+1)" id="AnswerTextbox_@(i+1)" value="" />
                            </div>
                        </div>
                    }
                    @Html.ValidationMessageFor(m => m.SecurityQuestionsModel, "", new { @class = "text-danger" })
                </div>
           </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="Submit" />
                    </div>
                </div>
        }
        </div>
    </div>
    <div class="copyright">New to Chinmaya Mission? Please register for programs/events @Html.ActionLink("here", "Registration", "Account", new { area = "" }, new { @style = "color:red;" }).</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        var isRedirected = "@Model.IsRedirected" == "True" ? true : false;
        if (isRedirected) {
            toastr.error("Invalid Answer");
        }
    </script>

</body>
</html>
