@model Chinmaya.Registration.Models.CheckPaymentModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "PaymentMethod";
}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Welcome to Chinmaya Mission</title>
	<!-- Latest compiled and minified CSS -->
	<link href="~/Content/bootstrap.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link href="~/Content/custom-styles.css" rel="stylesheet" type="text/css">
	<!-- Jquery -->
	<script src="~/Content/jquery-3.3.1.js"></script>
</head>
<body class="theme_bg">
	<button class="navbar-toggler aside-toggle" aria-expanded="false" aria-controls="menu-content" aria-label="Toggle navigation" type="button" data-target="#menu-content" data-toggle="collapse"> <span class="navbar-toggler-icon"></span> </button>
	<div class="nav-side-menu">

		<div class="menu-list">

			<ul class="menu-content collapse out classes-list" id="menu-content">
				<li>
					<a href="#"> About Balavihar Classes </a>
				</li>
				<li>
					<a href="#"> Link 2 </a>
				</li>
				<li>
					<a href="#"> Link 3 </a>
				</li>

			</ul>
		</div>
	</div>
	<div class="bd-content">
		<div class="row">
			<div class="col-md-12">
				<div class="regi-process-bar mt-0">
					<div class="row">
						<div class="col-md-5"><div class="regi-heading">Register for Classes and Activities</div></div>
						<div class="col-md-7">
							<div class="row bs-wizard">
								<div class="col-md-4 bs-wizard-step complete">
									<div class="progress"><div class="progress-bar"></div></div>
									<a class="bs-wizard-dot" href="property-type.html">1</a>
									<div class="text-center bs-wizard-stepnum marl-55">Register</div>
								</div>

								<div class="col-md-4 bs-wizard-step complete">
									<!-- complete -->
									<div class="progress"><div class="progress-bar"></div></div>
									<a class="bs-wizard-dot" href="property-details.html">2</a>
									<div class="text-center bs-wizard-stepnum">Confirm</div>
								</div>

								<div class="col-md-4 bs-wizard-step active">
									<!-- active -->
									<div class="progress"><div class="progress-bar"></div></div>
									<a class="bs-wizard-dot" href="listing-details.html">3</a>
									<div class="text-center bs-wizard-stepnum marr-60">Pay</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		@using (Html.BeginForm("PaymentMethod", "Payment", FormMethod.Post))
		{
			@Html.AntiForgeryToken()
			<div class="row">
				<div class="col-md-12">
					<div class="regi-main-1">
						<div class="row">
							<div class="col-md-12">
								<div class="regi-heading mt-0 mb-3">Payment Method</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">

								@Html.RadioButtonFor(m => m.paymentType, "Check", new { id = "CheckPaymentMethod" })<span> Check</span>
							</div>
							<div class="col-md-3">

								@Html.RadioButtonFor(m => m.paymentType, "Credit Card", new { id = "CreditPaymentMethod" })<span> Credit Card</span>
							</div>
						</div>
						<div class="paymentMethodCheck" id="paymentMethodCheck">
							<div class="row">
								<div class="col-md-6">
									@Html.LabelFor(m => m.AccountHolderName)
									@Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.AccountHolderName, "", new { @class = "text-danger" })
								</div>
								<div class="col-md-6">
									@Html.LabelFor(m => m.AccountTypeId)
									@Html.DropDownList("AccountTypeId", new SelectList(ViewBag.AccountType, "Id", "Name"), "Select", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.AccountTypeId, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									@Html.LabelFor(m => m.BankName)
									@Html.TextBoxFor(m => m.BankName, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.BankName, "", new { @class = "text-danger" })
								</div>
								<div class="col-md-6">
									@Html.LabelFor(m => m.AccountNumber)
									@Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									@Html.LabelFor(m => m.RoutingNumber)
									@Html.TextBoxFor(m => m.RoutingNumber, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.RoutingNumber, "", new { @class = "text-danger" })
								</div>
								<div class="col-md-6">
									@Html.LabelFor(m => m.ConfirmAccountNumber)
									@Html.TextBoxFor(m => m.ConfirmAccountNumber, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.ConfirmAccountNumber, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-secondary mr-2" name="prevBtn" id="btn_cancel" type="submit">Back</button>
									<button class="btn btn-orange" name="nextBtn" id="btn_submit" type="submit" data-target="#demo" data-toggle="collapse">Submit</button>
								</div>
							</div>
							
						</div>
					</div>
			</div>
		}
	</div>
	<!-- Latest compiled and minified JavaScript -->
	<script>
		$(document).ready(function () {
			$("#paymentMethodCheck").hide();
			$("#paymentMethodCheck")
				.find(".field-validation-error")
				.html('');
			$('#btn_submit').attr('disabled', true);
			$("#current-Events").hide();
			$("#userList").hide();
			$("#CheckPaymentMethod").on("change", function () {
				var paymentMethod = $(this).val();
				if (paymentMethod) {
					//$("#paymentMethodCheck")
					//	.find(".field-validation-error")
					//	.html('');
					$("#paymentMethodCheck").show();
					$('#btn_submit').attr('disabled', false);
				}
			});
			$("#CreditPaymentMethod").on("change", function () {
				var paymentMethod = $(this).val();
				if (paymentMethod) {
					$("#paymentMethodCheck").hide();
					//$('#btn_cancel').attr('disabled', true);
					$('#btn_submit').attr('disabled', true);
				}
			});

		});
		
	</script>

</body>
</html>

