<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)

    @Scripts.Render("~/bundles/jquery")

</head>
<body class="theme_bg">
    <header class="regi-header">

        <div class="container-fluid">
            <a href="#"><img alt="mainlogo" src="~/Content/img/dashboard-logo.png"></a>
            <div style="width:68px; float:right; margin:0px; margin-top:-1px;"><img style="border-radius:50%; border:2px solid #c7b299;" src="~/Content/img/header-thumbnail.png"></div>
        </div>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
</body>
</html>
