
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Chinmaya Mission</title>

	@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
	<body class="theme_bg">
		<header>
			<div class="header_top">
				<a class="navbar-brand" href="#"><img alt="mainlogo" src="~/Content/img/dashboard-logo.png"></a>
				<div class="header-right">
					<input name="search" class="search-field" type="text" placeholder="Search..">
					<select class="drpdown">
						<option>Our Other Sites</option>
					</select>
					<a class="fab fa-facebook-f" href="#"></a>
					<a class="fab fa-twitter" href="#"></a>
					<a class="fab fa-google-plus-g" href="#"></a>
					<a class="fab fa-linkedin-in" href="#"></a>
					<a class="fas fa-plus" href="#"></a>
				</div>
			</div>
			<div class="header_nav">
				<nav class="navbar navbar-expand-lg navbar-light">
					<button class="navbar-toggler" aria-expanded="false" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" type="button" data-target="#navbarSupportedContent" data-toggle="collapse"> <span class="navbar-toggler-icon"></span> </button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
							<li class="nav-item"> <a class="nav-link" href="#">About Us</a> </li>
							<li class="nav-item"> <a class="nav-link" href="#">Donate</a> </li>
							<li class="nav-item"> @Html.ActionLink("Program/Event Registration", "ProgramEventRegistration", new { controller = "Account" }, new { @class = "nav-link", @id = "programEventRegistration" }) </li>
							<li class="nav-item"> @Html.ActionLink("UserList", "Admin", new { controller = "Account" }, new { @class = "nav-link", @id = "userList" }) </li>
							<li class="nav-item"> @Html.ActionLink("Current Events", "Event", new { controller = "Account" }, new { @class = "nav-link", @id = "current-Events" })</li>
							<li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
						</ul>
						<div class="form-inline my-2 my-lg-0">
							<span class="navbar-text">Welcome, @User.Identity.Name</span>
							<ul class="navbar-nav mr-auto">
								<li class="nav-item"> @Html.ActionLink("My Account", "MyAccount", new { controller = "Account" }, new { @class = "nav-link" })</li>
								<li class="nav-item"> @Html.ActionLink("Sign Out", "LogOff", new { controller = "Account" }, new { @class = "nav-link" }) </li>
							</ul>
							<a href="#"><img src="~/Content/img/cart-icon.png"> <span class="cart-count">2</span></a>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<div class="theme_bg">
			@RenderBody()
			<hr />
			<footer>
				<p>&copy; @DateTime.Now.Year - Chinmaya Mission</p>
			</footer>
		</div>
		@Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
		@RenderSection("scripts", required: false)
	</body>
</html>
