@model List<string>
	<div class="header_nav">
		<nav class="navbar navbar-expand-lg navbar-light">
			<button class="navbar-toggler" aria-expanded="false" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" type="button" data-target="#navbarSupportedContent" data-toggle="collapse"> <span class="navbar-toggler-icon"></span> </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					@foreach (var item in Model)
					{
						if (@item == "Home")
						{
							<li class="nav-item"> <a class="nav-link" href="javascript: void(0);">Home<span class="sr-only">(current)</span></a> </li>
						}
						if (@item == "About Us")
						{
							<li class="nav-item"> <a class="nav-link" href="javascript: void(0);">About Us</a> </li>
						}
						if (@item == "Donate")
						{
							<li class="nav-item"> <a class="nav-link" href="javascript: void(0);">Donate</a> </li>
						}
						if (@item == "Program/Event Registration")
						{
							<li class="nav-item"> @Html.ActionLink("Program/Event Registration", "ProgramEventRegistration", new { controller = "EventRegistration" }, new { @class = "nav-link", @id = "programEventRegistration" }) </li>
						}
						if (@item == "Users")
						{
							<li class="nav-item"> @Html.ActionLink("Users", "Index", new { controller = "Admin" }, new { @class = "nav-link", @id = "userList" }) </li>
						}
						if (@item == "Current Events")
						{
							<li class="nav-item"> @Html.ActionLink("Current Events", "Event", new { controller = "Event" }, new { @class = "nav-link", @id = "current-Events" })</li>
						}
						if (@item == "Contact Us")
						{
							<li class="nav-item"> <a class="nav-link" href="javascript: void(0);">Contact Us</a> </li>
						}
					}
				</ul>
				<div class="form-inline my-2 my-lg-0">
					<span class="navbar-text">Welcome, @ViewBag.Fullname</span>
					<ul class="navbar-nav mr-auto">
						@foreach (var item in Model)
						{
							if (@item == "My Account")
							{
								<li class="nav-item"> @Html.ActionLink("My Account", "MyAccount", new { controller = "Account" }, new { @class = "nav-link", @id = "MyAccount" })</li>
							}
							if (@item == "Sign Out")
							{
								<li class="nav-item"> @Html.ActionLink("Sign Out", "LogOff", new { controller = "Account" }, new { @class = "nav-link" }) </li>
							}
						}
					</ul>
					@if(@ViewBag.Role == 2)
					{
						<a id="cart" href="javascript: void(0);"><img src="~/Content/img/cart-icon.png"> <span class="cart-count">2</span></a>
					}
				</div>
			</div>
		</nav>
	</div>
















