@model Chinmaya.Registration.Models.MainEventModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Event";
}

<html>
<head>
	<link href="~/Content/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
	<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
	<style>
		.requiredA:after {
			content: " *";
			font-weight: bold;
			color: red;
		}
	</style>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Welcome to Chinmaya Mission</title>
	<!-- Latest compiled and minified CSS -->
	<link href="~/Content/bootstrap.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link href="~/Content/custom-styles.css" rel="stylesheet" type="text/css">
	<!-- Jquery -->
	<script src="~/Scripts/jquery-3.3.1.js"></script>
</head>

<body>


	<button class="navbar-toggler aside-toggle" aria-expanded="false" aria-controls="menu-content" aria-label="Toggle navigation" type="button" data-target="#menu-content" data-toggle="collapse"> <span class="navbar-toggler-icon"></span> </button>
	<div class="nav-side-menu">

		<div class="menu-list">

			<ul class="menu-content collapse out" id="menu-content">
				<li class="collapsed" aria-expanded="false" data-target="#account" data-toggle="collapse">
					<a href="#"> Account Settings <span class="arrow"></span></a>
				</li>

				<ul class="sub-menu collapse" id="account">
					<li><a class="Password" data-toggle="modal" data-target="#changePassword"><img alt="" src="~/Content/img/change-password.png"> Change Password</a></li>
					@*<li><a href="#"><img alt="" src="~/Content/img/change-password.png"> Change Password</a></li>*@
					@*<li class="active"><a href="#"><img alt="" src="~/Content/img/update-family-info-active.png"> Update Family Info</a></li>*@
				</ul>

				<li class="collapsed" aria-expanded="false" data-target="#contact" data-toggle="collapse">
					<a href="#"> Update Contact Info <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="contact">
					<li><a class="Phone" id="@User.Identity.Name" data-toggle="modal" data-target="#changePhone"><img alt="" src="~/Content/img/phone.png"> Phone</a></li>
					<li><a class="Email" id="@User.Identity.Name" data-toggle="modal" data-target="#changeEmail"><img alt="" src="~/Content/img/email.png"> Email</a></li>
					<li><a class="Address" id="@User.Identity.Name" data-toggle="modal" data-target="#changeAddress"><img alt="" src="~/Content/img/address.png"> Address</a></li>
				</ul>
			</ul>
		</div>
	</div>
	<div class="bd-content">
		@*<h3 class="bd-title">My Account</h3>*@
		<div class="inner-box">
			<div class="row mb-3">
				<div class="col-md-6 table-title">Event Information</div>
				<div class="col-md-6 text-right"><a class="orange-links" href="#" data-target="#eventModal" data-toggle="modal"><i class="material-icons">add_circle_outline</i> Add Event</a></div>
			</div>
			<div class="row">
				<div class="col-md-12 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Weekday</th>
								<th scope="col">Frequency</th>
								<th scope="col">Amount</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>


							@foreach (var ev in Model.currentEventModel)
							{
								<tr>
									<td>@ev.Name</td>
									<td>@ev.Weekday</td>
									<td>@ev.Frequency</td>
									<td>$@ev.ChangeAmount</td>
									<td><a href="@Url.Action("Edit","Account", new { id = ev.Id })"><span class="label label-orange">Edit</span></a></td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->

	<div tabindex="-1" class="modal fade bd-example-modal-lg" id="eventModal" role="dialog" aria-hidden="true" aria-labelledby="eventModalTitle">
		@using (Html.BeginForm("AddEvent", "Event", FormMethod.Post))
		{
			@Html.AntiForgeryToken()
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<h5 class="modal-title">Add Event</h5>

						@Html.ValidationSummary(true)

						<div class="row">
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.Name)
								@Html.TextBoxFor(m => m.events.Name, new { @class = "form-control", @Name = "Name" })
								@Html.ValidationMessageFor(m => m.events.Name)
							</div>
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.Description)
								@Html.TextBoxFor(m => m.events.Description, new { @class = "form-control", @Name = "Description" })
								@Html.ValidationMessageFor(m => m.events.Description)
							</div>
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.WeekdayId)
								@Html.DropDownList("WeekdayId", new SelectList(Model.weekday, "Id", "Name", ViewBag.SelectedWeekday), "Select", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.events.WeekdayId)
							</div>
						</div>

						<div class="row">

							<div class="col-md-4">
								@Html.LabelFor(m => m.events.FrequencyId)
								@Html.DropDownList("FrequencyId", new SelectList(Model.frequencies, "Id", "Name", ViewBag.SelectedFrequency), "Select", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.events.FrequencyId)
							</div>
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.AgeFrom)
								@Html.TextBoxFor(m => m.events.AgeFrom, new { @class = "form-control", @Name = "AgeFrom" })
								@Html.ValidationMessageFor(m => m.events.AgeFrom)
							</div>
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.AgeTo)
								@Html.TextBoxFor(m => m.events.AgeTo, new { @class = "form-control", @Name = "AgeTo" })
								@Html.ValidationMessageFor(m => m.events.AgeTo)
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.SessionId)
								@Html.DropDownList("SessionId", new SelectList(Model.sessions, "Id", "Name"), "Select", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.events.SessionId)
							</div>
							<div class="col-md-4" id="StartDate">
								@Html.LabelFor(m => m.events.StartDate)
								@*@Html.TextBoxFor(m => m.events.StartDate, new { @class = "form-control", @type = "date", @Name = "StartDate" })*@
								<div class="input-group date">
									@Html.TextBoxFor(m => m.events.StartDate, "{0:d}", new { @class = "datepicker form-control", @type = "text", @Name = "eventStartDate", @value = "" })
									<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
								</div>
								@Html.ValidationMessageFor(m => m.events.StartDate)
							</div>
							<div class="col-md-4" id="EndDate">
								@Html.LabelFor(m => m.events.EndDate)
								@*@Html.TextBoxFor(m => m.events.EndDate, new { @class = "form-control", @type = "date", @Name = "EndDate" })*@
								<div class="input-group date">
									@Html.TextBoxFor(m => m.events.EndDate, "{0:d}", new { @class = "datepicker form-control", @type = "text", @Name = "eventEndDate", @value = "" })
									<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
								</div>
								@Html.ValidationMessageFor(m => m.events.EndDate)
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.StartTime)
								@Html.TextBoxFor(m => m.events.StartTime, new { @class = "form-control", @Name = "StartTime" })
								@Html.ValidationMessageFor(m => m.events.StartTime)
							</div>
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.EndTime)
								@Html.TextBoxFor(m => m.events.EndTime, new { @class = "form-control", @Name = "EndTime" })
								@Html.ValidationMessageFor(m => m.events.EndTime)
							</div>
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.Amount)
								@Html.TextBoxFor(m => m.events.Amount, new { @class = "form-control", @Name = "Amount" })
								@Html.ValidationMessageFor(m => m.events.Amount)
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.Location)
								@Html.TextBoxFor(m => m.events.Location, new { @class = "form-control", @Name = "Location" })
								@Html.ValidationMessageFor(m => m.events.Location)
							</div>
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.Instructor)
								@Html.TextBoxFor(m => m.events.Instructor, new { @class = "form-control", @Name = "Instructor" })
								@Html.ValidationMessageFor(m => m.events.Instructor)
							</div>
							<div class="col-md-4">
								@Html.LabelFor(m => m.events.Contact)
								@Html.TextBoxFor(m => m.events.Contact, new { @class = "form-control", @Name = "Contact" })
								@Html.ValidationMessageFor(m => m.events.Contact)
							</div>

						</div>
						<div class="row">
							<div class="col-md-6">
								@Html.LabelFor(m => m.events.Other)
								@Html.TextBoxFor(m => m.events.Other, new { @class = "form-control", @Name = "Other" })
								@Html.ValidationMessageFor(m => m.events.Other)
							</div>
							<div class="col-md-6">
								@Html.LabelFor(m => m.events.HolidayDate)
								@*@Html.TextBoxFor(m => m.events.HolidayDate, new { @class = "form-control", @type = "date", @Name = "HolidayDate" })*@
								<div class="input-group date">
									@Html.TextBoxFor(m => m.events.HolidayDate, "{0:d}", new { @class = "datepicker form-control", @type = "text", @Name = "eventHolidayDate", @value = "" })
									<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
								</div>
								@Html.ValidationMessageFor(m => m.events.HolidayDate)
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<button class="btn btn-secondary float-left mr-3" id="#btnCancel " type="submit" data-dismiss="modal" name="prevBtn">Cancel <i class="material-icons">cancel</i></button>
								<button class="btn btn-orange" id="btnsubmit" type="submit" data-target="#demo" data-toggle="collapse" name="nextBtn">Submit <i class="material-icons">check_circle</i></button>
							</div>
						</div>
					</div>
				</div>
			</div>

		}
	</div>
	<div class="modal fade bd-example-modal-lg" id="changePassword" tabindex="-1" role="dialog">

		@Html.Partial("../Common/_ChangePassword", Model.updatePasswordModel)

	</div>
	<div class="modal fade bd-example-modal-lg" id="changePhone" tabindex="-1" role="dialog">

		@Html.Partial("../Common/_ChangePhone", Model.updatePhone)

	</div>
	<div class="modal fade bd-example-modal-lg" id="changeEmail" tabindex="-1" role="dialog">

		@Html.Partial("../Common/_ChangeEmail", Model.updateMailModel)

	</div>

	<div class="modal fade bd-example-modal-lg" id="changeAddress" tabindex="-1" role="dialog">

		@Html.Partial("../Common/_ChangeAddress", Model.updateAddressModel)

	</div>
	@*<script src="~/Scripts/popper.js"></script>*@
	<!-- Latest compiled and minified JavaScript -->
	@*<script src="~/Scripts/bootstrap.min.js"></script>*@
	<script>

		$(function () {
			//$("#programEventRegistration").hide();
			$('[data-toggle="tooltip"]').tooltip()
		})

		$(document).ready(function () {
			$("#programEventRegistration").hide();
			$("#MyAccount").hide();
			$("#userList").show();
			$("#cart").hide();

			var today = new Date();
			$('.datepicker').datepicker({
				todayHighlight: true,
				autoclose: true,
				dateFormat: 'mm-dd-yyyy',
				startDate: "today",
				endDate: '+10y'
			});

		});

		$(".Phone").click(function () {
			var Email = $(this).attr("id");
			$.ajax({
				"url": "../Common/EditPhoneNumber/?Email=" + Email,
				"type": "GET",
				success: function (data) {
					$("#changePhone").html(data);
					$("#changePhone").modal();
				},
			});
		});

		$(".Email").click(function () {
			var Email = $(this).attr("id");
			$.ajax({
				"url": "../Common/EditEmail/?Email=" + Email,
				"type": "GET",
				success: function (data) {
					$("#changeEmail").html(data);
					$("#changeEmail").modal();
				},
			});
		});

		$(".Address").click(function () {
			var Email = $(this).attr("id");
			$.ajax({
				"url": "../Common/EditAddress/?Email=" + Email,
				"type": "GET",
				success: function (data) {
					$("#changeAddress").html(data);
					$("#changeAddress").modal();
				},
			});
		});

		$("#eventModal").on("hidden.bs.modal", function () {
			$('[data-toggle="tooltip"]').tooltip();
			$('#eventModal').find('input:text, input:password, select, textarea').val('');
			$('#eventModal').find('input:radio, input:checkbox').prop('checked', false);
			$(this).removeData('bs.modal');
		});
	</script>
</body>
</html>

